
 body {
background-color:orange;
}
.LogBox {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.LogBox form {
  display: flex;
  flex-direction: column;
}

.LogBox label {
  margin-bottom: 5px;
}

.LogBox input {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.LogBox button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.LogBox button:hover {
  background-color: #0056b3;
}

.product-ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.product-li {
  border: 1px solid black; 
  border-radius: 5px;
  padding: 15px;
  width: calc(33.33% - 20px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: orange;
  transition: transform 0.3s;
}
.product-li img {
  height: 250px;
}

.product-li:hover {
  transform: scale(1.05);
}
.product1-ul {
  display: flex;;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}
.product1-li {
  background-color: orange;
  padding: 15px;
  border-radius: 25px;

}
